<h1>Welcome to Title Case</h1>
<form action="/input">
  <div class="form-group">
     <label for="">Input two words or phrases to find out if they're special
</label>
     <input name="first_input" class="form-control" type="text">
      <input name="second_input" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
